body {
    background-color: lightgray;
    color: black;
    font-family: 'Century Gothic';
}

h1 {
    text-align: center;
    font-size: 300%;
}
h2 {
    text-align: center;
}

#name {
    font-display: block;
    text-decoration: underline;
    width: 400px;
    background-color: mediumpurple;
    box-shadow: black -10px 15px;
}

#box1 {
    width: 25%;
    float: left;
    height: 500px;
    background-color: #a60000;
    display: inline-block;
}

    #box1:hover {
        background-color: blueviolet;
        transform: scale(1.1,1.1);
    }
#homeimg {
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    height: 500px;
    background-color: #a60000;
    display: block;
}

#homeimg:hover {
    transform: scale(1.1,1.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Century Gothic';
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }

#container {
    background-color: rgba(0,0,0,.25);
}

img {
    align-content: center;
    width: 90%;
    height: 91%;
    padding: 5% 5% 5% 5%;
}
